<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>BytePay</title>
    <link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link type="text/css" href="/static/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link type="text/css" href="/static/css/neumorphism.css" rel="stylesheet">
  </head>
  <body>
    <header class="header-global">
      <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light">
        <div class="container position-relative">
          <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="/">
            <img class="navbar-brand-dark" src="/static/assets/img/brand/dark.svg" alt="Logo light">
            <img class="navbar-brand-light" src="/static/assets/img/brand/dark.svg" alt="Logo dark">
          </a>
          <div class="navbar-collapse collapse" id="navbar_global">
            <div class="navbar-collapse-header">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a href="/static/index.html" class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                    <img src="/static/assets/img/brand/dark.svg" alt="">
                  </a>
                </div>
                <div class="col-6 collapse-close">
                  <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <a href="/metamask"class="btn btn-primary text-secondary d-none d-md-inline-block mr-3">
              Dashboard </a>
            <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="section section-header pb-7">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center">
              <h1 class="display-2 mb-4">We are BytePay</h1>
              <p class="lead mb-5">A Decentralized Payment Platform To Facilitate Quick Payments And Seamless Transactions For Everyday Use. Pay With Every Byte.</p>
              <a class="btn btn-primary" href="/website">
                <span class="fas fa-wallet mr-2"></span>Try it out!</a>
            </div>
          </div>
        </div>
      </div>
      <section class="section section-lg pt-0">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card bg-primary shadow-soft border-light p-4">
                <div class="row">
                  <div class="col-12 col-lg-4 px-md-0 mb-4 mb-lg-0">
                    <div class="card-body text-center bg-primary py-5">
                      <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                        <span class="far fa-eye"></span>
                      </div>
                      <h2 class="h4 mr-2">Device Friendly</h2>
                      <p class="mb-0">Responsive platform and accomodates any browser friendly device. Requires no native app installations. </p>
                    </div>
                  </div>
                  <div class="col-12 col-lg-4 px-md-0 mb-4 mb-lg-0">
                    <div class="card-body text-center bg-primary py-5">
                      <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                        <span class="fas fa-medal"></span>
                      </div>
                      <h2 class="h4 mr-2">Blockchain Transactions</h2>
                      <p class="mb-0">Facilitates blockchain based wallet for users to be easily able to opt for BytePay as a default payment method.</p>
                    </div>
                  </div>
                  <div class="col-12 col-lg-4 px-md-0">
                    <div class="card-body text-center bg-primary py-5">
                      <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                        <span class="fas fa-puzzle-piece"></span>
                      </div>
                      <h2 class="h4 mr-2">Quick, Safe & Secure</h2>
                      <p class="mb-0">Straighforward and sophisticated payment methods and procedures resulting in easy and quick transactions.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg pt-0">
        <div class="container">
          <div class="row align-items-center justify-content-around">
            <div class="col-md-6 col-xl-6 mb-5">
              <div class="card bg-primary shadow-soft border-light organic-radius p-3">
                <img class="organic-radius img-fluid" src="/static/assets/img/about-us-1.jpg" alt="modern desk">
              </div>
            </div>
            <div class="col-md-6 col-xl-5 text-center text-md-left">
              <h2 class="h1 mb-4">Blockchain for Merchants to send & receive payments</h2>
              <p class="lead">The main objective behind BytePay is to allow to users to incorporate blockchain based payment systems and currencies for their daily currency exchanges and payments involved in an open market while also providing the benfits of blockchain technology such sophisticated security, easier accounting of transactions with the help of ledger systems and also brief analystics of the payments & the transcations involved.</p>
<!--               <p class="lead">Our small team is active in the creative community, endlessly interested in what’s next, and generally pleasant to be around.</p> -->
<!--               <img src="/static/assets/img/signature.svg" alt="signature" class="mt-4" width="150"> -->
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg pt-0">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-4 col-lg-4 text-center">
              <div class="icon-box mb-4">
                <div class="icon icon-shape shadow-soft border border-light rounded-circle mb-4">
                  <span class="far fa-smile-beam"></span>
                </div>
                <h3 class="h5">Merchants</h3>
                <span class="counter display-3 text-gray d-block">5500</span>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-lg-4 text-center">
              <div class="icon-box mb-4">
                <div class="icon icon-shape shadow-soft border border-light rounded-circle mb-4">
                  <span class="far fa-eye"></span>
                </div>
                <h3 class="h5">Transactions</h3>
                <span class="counter display-3 text-gray d-block">25000</span>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-lg-4 text-center">
              <div class="icon-box mb-4">
                <div class="icon icon-shape shadow-soft border border-light rounded-circle mb-4">
                  <span class="fas fa-globe-europe"></span>
                </div>
                <h3 class="h5">Users</h3>
                <span class="counter display-3 text-gray d-block">90000</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg pt-0">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <h2 class="h1">Our Team</h2>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card bg-primary shadow-soft border-light text-center py-4 mb-5">
                <div class="profile-image shadow-inset border border-light bg-primary rounded-circle p-3 mx-auto">
                  <img src="/static/assets/img/team/profile-picture-1.jpg" class="card-img-top shadow-soft p-2 border border-light rounded-circle" alt="Neil Avatar">
                </div>
                <div class="card-body">
                  <h3 class="h5 mb-2">Ashish Sreenivas</h3>
                  <span class="h6 font-weight-normal text-gray mb-3">Co-Founder</span>
                  <ul class="list-unstyled d-flex justify-content-center my-3">
                    <li>
                      <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook mr-3">
                        <span class="fab fa-facebook-f"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                        <span class="fab fa-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack mr-3">
                        <span class="fab fa-slack-hash"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble mr-3">
                        <span class="fab fa-dribbble"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card bg-primary shadow-soft border-light text-center py-4 mb-5">
                <div class="profile-image shadow-inset border border-light bg-primary rounded-circle p-3 mx-auto">
                  <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top shadow-soft p-2 border border-light rounded-circle" alt="Bonnie Avatar">
                </div>
                <div class="card-body">
                  <h3 class="h5 mb-2">Bonnie Green</h3>
                  <span class="h6 font-weight-normal text-gray mb-3">Marketing Specialist</span>
                  <ul class="list-unstyled d-flex justify-content-center my-3">
                    <li>
                      <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook mr-3">
                        <span class="fab fa-facebook-f"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                        <span class="fab fa-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack mr-3">
                        <span class="fab fa-slack-hash"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble mr-3">
                        <span class="fab fa-dribbble"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card bg-primary shadow-soft border-light text-center py-4 mb-5">
                <div class="profile-image shadow-inset border border-light bg-primary rounded-circle p-3 mx-auto">
                  <img src="/static/assets/img/team/profile-picture-2.jpg" class="card-img-top shadow-soft p-2 border border-light rounded-circle" alt="Christopher avatar">
                </div>
                <div class="card-body">
                  <h3 class="h5 mb-2">Christopher Wood</h3>
                  <span class="h6 font-weight-normal text-gray mb-3">Web Designer</span>
                  <ul class="list-unstyled d-flex justify-content-center my-3">
                    <li>
                      <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook mr-3">
                        <span class="fab fa-facebook-f"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                        <span class="fab fa-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack mr-3">
                        <span class="fab fa-slack-hash"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble mr-3">
                        <span class="fab fa-dribbble"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card bg-primary shadow-soft border-light text-center py-4 mb-5">
                <div class="profile-image shadow-inset border border-light bg-primary rounded-circle p-3 mx-auto">
                  <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top shadow-soft p-2 border border-light rounded-circle" alt="Bonnie Avatar">
                </div>
                <div class="card-body">
                  <h3 class="h5 mb-2">Bonnie Green</h3>
                  <span class="h6 font-weight-normal text-gray mb-3">Marketing Specialist</span>
                  <ul class="list-unstyled d-flex justify-content-center my-3">
                    <li>
                      <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook mr-3">
                        <span class="fab fa-facebook-f"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                        <span class="fab fa-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack mr-3">
                        <span class="fab fa-slack-hash"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble mr-3">
                        <span class="fab fa-dribbble"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card bg-primary shadow-soft border-light text-center py-4 mb-5">
                <div class="profile-image shadow-inset border border-light bg-primary rounded-circle p-3 mx-auto">
                  <img src="/static/assets/img/team/profile-picture-2.jpg" class="card-img-top shadow-soft p-2 border border-light rounded-circle" alt="Christopher avatar">
                </div>
                <div class="card-body">
                  <h3 class="h5 mb-2">Christopher Wood</h3>
                  <span class="h6 font-weight-normal text-gray mb-3">Web Designer</span>
                  <ul class="list-unstyled d-flex justify-content-center my-3">
                    <li>
                      <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook mr-3">
                        <span class="fab fa-facebook-f"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                        <span class="fab fa-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack mr-3">
                        <span class="fab fa-slack-hash"></span>
                      </a>
                    </li>
                    <li>
                      <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble mr-3">
                        <span class="fab fa-dribbble"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </section>
    </main>
    <footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <p>
              <strong>BytePay</strong> is decentralized payment platform to facilitate users experience easy and seamless transaction method for day-to-day activities.
            </p>
            <ul class="d-flex list-unstyled mb-5 mb-lg-0">
              <li class="mr-2">
                <a href="#" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="twitter social link" data-toggle="tooltip" data-placement="top" title="Follow us on Twitter">
                  <span aria-hidden="true" class="fab fa-twitter"></span>
                </a>
              </li>
              <li class="mr-2">
                <a href="#" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="facebook social link" data-toggle="tooltip" data-placement="top" title="Like us on Facebook">
                  <span aria-hidden="true" class="fab fa-facebook"></span>
                </a>
              </li>
              <li class="mr-2">
                <a href="#" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="github social link" data-toggle="tooltip" data-placement="top" title="Open source projects">
                  <span aria-hidden="true" class="fab fa-github"></span>
                </a>
              </li>
              <li>
                <a href="#" target="_blank" class="btn btn-icon-only btn-pill btn-primary" aria-label="dribbble social link" data-toggle="tooltip" data-placement="top" title="Follow us on Dribbble">
                  <span aria-hidden="true" class="fab fa-dribbble"></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-5 mb-lg-0">
            <h5>BytePay</h5>
            <ul class="footer-links list-unstyled mt-2">
              <li class="mb-1">
                <a class="p-2" target="_blank" href="#">Blog</a>
              </li>
              <li class="mb-1">
                <a class="p-2" target="_blank" href="#">Products</a>
              </li>
              <li class="mb-1">
                <a class="p-2" target="_blank" href="#">About Us</a>
              </li>
              <li>
                <a class="p-2" target="_blank" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-5 mb-lg-0">
            <h5>Other</h5>
            <ul class="footer-links list-unstyled mt-2">
              <li class="mb-1">
                <a class="p-2" href="#" target="_blank">Docs <span class="badge badge-gray text-uppercase ml-2">v1.0</span>
                </a>
              </li>
              <li class="mb-1">
                <a class="p-2" href="#" target="_blank">Changelog</a>
              </li>
              <li class="mb-1">
                <a class="p-2" target="_blank" href="#">License</a>
              </li>
              <li>
                <a class="p-2" target="_blank" href="#">Support</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-4 mb-5 mb-lg-0">
            <h5>Subscribe</h5>
            <p class="text-gray font-small mt-2">Join our mailing list. We write rarely, but only the best content.</p>
            <form action="#">
              <div class="form-row mb-2">
                <div class="col-12">
                  <label class="h6 font-weight-normal d-none" for="exampleInputEmail3">Email address</label>
                  <input type="email" class="form-control mb-2" placeholder="example@company.com" name="email" aria-label="Subscribe form" id="exampleInputEmail3" required>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block" data-loading-text="Sending">
                    <span>Subscribe</span>
                  </button>
                </div>
              </div>
            </form>
            <p class="text-gray font-small m-0">We’ll never share your details. See our <a class="text-black" href="#">Privacy Policy</a>
            </p>
          </div>
        </div>
        <hr class="my-5">
        <div class="row">
          <div class="col">
            <a href="#" target="_blank" class="d-flex justify-content-center">
              <img src="/static/assets/img/brand/dark.svg" height="25" class="mb-3" alt="Themesberg Logo">
            </a>
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
              <p class="font-weight-normal font-small mb-0">Copyright © BytePay <span class="current-year">2022</span>. All rights reserved. </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/vendor/headroom.js/dist/headroom.min.js"></script>
    <script src="/static/vendor/onscreen/dist/on-screen.umd.min.js"></script>
    <script src="/static/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="/static/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/static/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="/static/vendor/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="/static/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <script src="/static/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/static/vendor/prismjs/prism.js"></script>
    <script async defer="defer" src="https://buttons.github.io/buttons.js"></script>
    <script src="/static/assets/js/neumorphism.js"></script>
  </body>
</html>

